<form class="form-horizontal">
    <h3>Редактирование пользователя</h3>
    <div class="form-group" ng-repeat="(i, value) in head" ng-if="$index >= 1">
        <label for="{{'usersEdit'+i}}" class="col-sm-2 control-label">{{value}}</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="{{'usersEdit'+i}}" placeholder="{{value}}" ng-value="users[rowIndex][i]" ng-model="usersEdit[i]">
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <button type="button" class="btn btn-default" ng-click="closeThisDialog(false)">Cancel</button>
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-primary" ng-click="closeThisDialog(true)">Save changes</button>
            </div>
        </div>
        <div style="text-align:right; font-size: 12px; color: red; padding: 20px 20px 0px 0px; line-height:0px;" class="row">
            {{usersEditError}}
        </div>
    </div>
</form>
