<!doctype html>
<html ng-app="users">

    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="icon" href="img/favicon.png" type="image/x-icon">
        <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
        <link rel="apple-touch-icon" href="img/favicon.png">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/main.css">
    </head>

    <body>
        <div ng-controller="UserList">
            <h1>Список пользователей</h1>
            <input type="text" name="name" value="" class="form-control" placeholder="Фильтрация" ng-model="filter">
            <table class="table">
                <thead>
                    <tr>
                        <th ng-repeat="(i,th) in head">
                            <a href="#" class="glyphicon" ng-click="changeSorting(i)" ng-class="selectedCls(i)">{{th}}</a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(i,user) in users | filter:filter | orderBy:sort.column:sort.descending">
                        <th scope="row">{{users.indexOf(user)+1}}</th>
                        <td ng-repeat="(i,value) in user">{{user[i]}}</td>
                        <td>
                            <button type="button" class="btn btn-warning"  ng-click="clickToOpen(users.indexOf(user))">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-danger" ng-click="clickToDelete(users.indexOf(user))">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <script src="js/main.js"></script>
        <script src="js/app.js"></script>
    </body>
